.section {
  padding: 1.5rem 0;
}

@media (min-width: 640px) {
  .section {
    padding: 2.5rem 0;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 3.5rem 0;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 4.5rem 0;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 8rem 0;
  }
}
