---
import Card from "./UI/Card.astro";
---

<section class="py-12">
  <div class="container">
    <h2 class="text-2xl font-bold mb-2">
      What you will learn in this exclusive webinar
    </h2>

    <ul>
      <Card
        icon="fa-solid fa-laptop"
        title="Work from anywhere with just a laptop"
        text="Freedom! That’s what you’ll get after implementing the tactics I’ll present. You’ll live your dream life."
      />

      <Card
        icon="fa-solid fa-check"
        title="Work from anywhere with just a laptop"
        text="Freedom! That’s what you’ll get after implementing the tactics I’ll present. You’ll live your dream life."
      />

      <Card
        icon="fa-solid fa-sack-dollar"
        title="Work from anywhere with just a laptop"
        text="Freedom! That’s what you’ll get after implementing the tactics I’ll present. You’ll live your dream life."
      />
    </ul>
  </div>
</section>
