---

---

<footer class="bg-slate-950 py-6">
  <div class="container flex flex-wrap justify-between">
    <p class="text-slate-100 text-sm">
      Copyright © Anna Müller. All Rights Reserved.
    </p>
    <small class="text-slate-100"
      ><a
        class="text-yellow-300 hover:text-amber-400 font-semibold text-sm underline"
        href="https://github.com/thediogostein"
        target="_blank"
        rel="noreferrer">Built by Diogo Stein</a
      ></small
    >
  </div>
</footer>
