---
import Form from "./UI/Form.astro";
import bg from "../assets/images/herobg.webp";
---

<header class="[ hero ] text-white py-12 min-h-[80vh] grid place-items-center">
  <div class="container">
    <div class="lg:w-2/5">
      <p class="uppercase text-yellow-300 sm:text-2xl">Free webinar</p>
      <h1 class="uppercase text-4xl sm:text-5xl md:text-6xl font-bold mb-2">
        Living a laptop lifestyle
      </h1>
      <h2 class="text-xl mb-4">
        Reclaim your life by making money online (no experience required)
      </h2>

      <Form />
    </div>
  </div>
</header>

<style>
  .hero {
    background: rgb(17, 94, 89);

    background:
      url("../assets/images/herobg.webp") no-repeat,
      linear-gradient(
        90deg,
        rgba(4, 47, 46, 1) 30%,
        rgb(8, 77, 75, 0.9) 60%,
        rgba(17, 94, 89, 0.8) 100%
      );
    background-size: cover;
    background-position: 80%;

    background-blend-mode: multiply;
  }

  @media (min-width: 1024px) {
    .hero {
      background: rgb(17, 94, 89);

      background:
        url("../assets/images/herobg.webp") no-repeat,
        linear-gradient(
          90deg,
          rgba(4, 47, 46, 1) 30%,
          rgb(8, 77, 75, 0.9) 48%,
          rgba(17, 94, 89, 0.3) 100%
        );
      background-size: cover;
      background-position: 80%;

      background-blend-mode: multiply;
    }
  }
</style>
