---
import Testimonial from "./UI/Testimonial.astro";
import clientA from "../assets/images/testimonial-a.webp";
import clientB from "../assets/images/testimonial-b.webp";
import clientC from "../assets/images/testimonial-c.webp";
import clientD from "../assets/images/testimonial-d.webp";
---

<section class="[ section ]">
  <div class="container">
    <header>
      <h2 class="text-3xl sm:text-4xl font-bold mb-4 text-slate-950">
        Testimonials from previous clients
      </h2>
      <p class="mb-8 text-2xl text-slate-900">
        Over a 100 clients have quit their 9-5 and become laptop entrepreneurs
      </p>
    </header>
    <section class="grid md:grid-cols-2 gap-8">
      <Testimonial
        img={clientA}
        alt="woman working with a laptop at the beach"
        name="Emma Brown"
        text="The laptop lifestyle course was a game-changer. It gave me the skills and mindset to work remotely, allowing me to travel, spend more time with family, and pursue my passions while still earning a living. Highly recommended for anyone seeking a flexible and fulfilling career."
      />
      <Testimonial
        img={clientB}
        alt="man working with a laptop at the beach"
        name="Braxton MacQuoid"
        text="This course was a revelation! It not only taught me the technical aspects of remote work but also the importance of work-life balance. I've found a new sense of purpose and flexibility that I never thought was possible. If you're seeking a change, don't hesitate to take this course."
      />
      <Testimonial
        img={clientC}
        alt="'woman at the beach with a laptop"
        name="Bridget Davenport"
        text="I was stuck in a monotonous job until I stumbled upon this course. It gave me the skills and confidence to break free from the conventional work setup. Today, I'm living my dream life, working remotely, and exploring new horizons. This course was a game-changer for me!"
      />
      <Testimonial
        img={clientD}
        alt="man near the ocean with a laptop"
        name="Lucas Martinez"
        text="I've always dreamt of a life where work doesn't tie me down to one place. This course made it a reality. Now, I can work from exotic locations, spend more quality time with my family, and truly enjoy the laptop lifestyle. I'm grateful for this opportunity!"
      />
    </section>
  </div>
</section>
