---
import { Image } from "astro:assets";
const { img, alt, name, text } = Astro.props;
---

<article>
  <Image src={img} alt={alt} class="mb-3" />
  <h3 class="text-lg font-semibold mb-1 text-slate-950">{name}</h3>
  <p class="text-lg text-slate-700">{text}</p>
</article>
